[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/dnguyen/Desktop/notes.txt]
row=4
col=0

[/home/dnguyen/Desktop/work]
row=1
col=0

[/home/dnguyen/Desktop/dev-notes.txt]
row=2
col=0

[/home/dnguyen/Desktop/personal]
row=0
col=0

[/home/dnguyen/Desktop/trading-notes.txt]
row=3
col=0

